<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Information Asset Register</title>
  <link
  rel="canonical"
  href="https://getbootstrap.com/docs/4.5/examples/album/"
/>

<!-- Bootstrap core CSS -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
  crossorigin="anonymous"
/>

</head>

<body>
<%- include('common/header'); -%>

<center><h1 , class="mx-auto"> Information Asset Register </h1></center>

  <br />     
  <center><button type="button" class="btn btn-primary">Create a register entry</button></center>
  <br />

</div>
  

<table class="table table-striped custab">
  <thead>
      <tr>
          <th>Directorate</th>
          <th>Name</th>
          <th>Description</th>
          <th>Sensitivity</th>

      </tr>

      <%  
      
        Entries.forEach(entry => {
          
      %>
          <tr>
              <td><%=  entry.Directorate  %></td>
              <td><%=  entry.Name  %></td>
              <td><%=  entry.Description  %></td>
              <td><%=  entry.Sensitivity  %></td>
              
              <td class="text-center"><a class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Edit</a> 
               
          </tr>
          
       <%  
        });
       %>


     
  </thead>
        
  </table>


   
  </div>


  <%- include('common/footer') -%>
</body>
</html>